/* 
 CSS -> Hoja de estilos en cascada - Cascading Style Sheets
- Selectores -> Una forma de llamar los elementos html desde css
-por etiqueta
- por clase (el selector es un ".")
- por id (el selector es un "#")
- Selector universal -> * (todo)

- Jerarquias
    -- Los estilos que mas jerarquia tienen son los estilos en linea.
    -- Los estilos se aplican por cascada.





*/

/* Reset o Normalizacion */
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth; /* Desliza suavemente el scroll */
}


/* Variables -> espacio reservado en memopria */
:root{
    --color-primario: blue;
    --color-secundario: yellowgreen;
}

h2{
    color: green;
    text-align: center;
}

.subtitulo-seccion{
    color: var(--color-primario);

}

#seccion-perro{
    background-color: aquamarine;
}

p{
    color: var(--color-secundario);
}

section {
    height: 100vh;
}